<%- include('../includes/auth-head.ejs') %>

  <main>

    <div class="auth-panel">

      <header>
        <h1>Sing in</h1>
        <p>New user? <a href="/registration">Create an account</a></p>
      </header>
      
      <form name="login-form" action="/login" method="POST">
        
        <!-- User email input -->
        <label for="user-email">User email</label><br>
        <input type="text" id="user-email" name="userEmail" class="registration-input" value="<%=
          typeof inputs !== 'undefined' ? inputs.userEmail : ''
        %>">
        <br>
        
        <!-- User password input -->
        <label for="user-pass">Password</label><a href="/reset-password">Forgot password?</a><br>
        <input type="text" id="user-pass" name="userPass" class="registration-input"  value="<%=
          typeof inputs !== 'undefined' ? inputs.userPass : ''
        %>">
        <br>
    
        <input type="submit" id="form-submit-btn" name="formSubmitBtn" value="Sign in" >
        
      </form>
      <br>
      <label for="form-submit-btn" id="login-error" style="color: red;">
        <%= typeof errors !== 'undefined' ? errors : '' %>
      </label>
    
    </div>

  </main>

<%- include('../includes/auth-footer.ejs') %>