<%- include('../includes/auth-head.ejs') %>

<!-- SCRIPTS -->
<script src="/scripts/auth-password-reset-actions.js" defer></script>

  <main>

    <div id="content-left">

      <h1>Playfab</h1>
      <p>Sign in or create an account</p>

    </div>

    <div id="content-right">

      <div class="auth-panel">

        <% if (typeof isEmailSent !== 'undefined' && isEmailSent) { %>

          <header>
            <h1>Reset your password</h1>
            <p>Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder.</p>
            <p>Return to <a href="/login">login page</a></p>
          </header>

        <% } else { %>

          <header id="auth-panel-header">
            <h1>Reset your password</h1>
            <p>Enter your user account's verified email address and you will receive a password reset link.</p>
          </header>

          <!-- AUTHENTICATION ERROR -->
          <p id="reset-password-error" class="input-error<%= typeof errors !== 'undefined' ? ' active' : '' %>"><%= 
            typeof errors !== 'undefined' ? errors : ''
          %></p>

          <form name="reset-password-form" action="/reset-password" method="POST">
            
            <!-- User email input -->
            <div class="form-input">
              <!-- <label for="user-email">Email</label><br> -->
              <input type="text" id="user-email" name="userEmail" class="registration-input" placeholder="Email address" value="<%= 
                typeof inputs !== 'undefined' ? inputs.userEmail : '' 
              %>">
            </div>

            <input type="submit" id="login-form-submit-btn" name="formSubmitBtn" value="Send email" >

          </form>

          <p>Try to <a href="/login">sign in to a different account</a>?</p>

        <% } %>

      </div>

    </div>

  </main>
  
<%- include('../includes/auth-footer.ejs') %>