<%- include('../includes/main-head.ejs') %>

<!-- STYLES -->
<!-- <link rel="stylesheet" href="/styles/auth.css"> -->
<!-- SCRIPTS -->
<script src="/scripts/auth-registration-form.js" defer></script>

  <main>

    <a href="/profile-settings"><- Account Management</a>

    <header>
      <h1>EMAIL UPDATE</h1>
    </header>

    <p>To change the email address, click Send email. An email code will be sent to your email address.</p>
    <p>Please follow below steps:</p>

    <% if (!isUpdateAvailable) { %>

      <p style="color: red;">Email update is able once for 14 days</p>

    <% } else { %>

      <% if (!isEmailSent) { %>
        
        <!-- FORM 1 -->
        
        <form name="email-form" action="/profile-password" method="POST" style="background-color: orange;">
          
          <header>
            <p><b>1. Generete code</b></p>
            <p>To change password, click Send email. The code will be sent to your email address.</p>
          </header>
          
          <input type="submit" id="email-submit-btn" name="emailSubmitBtn" value="Send email">
          
        </form>

      <% } else { %>
          
        <!-- FORM 1 COMPLETE -->
    
        <header style="background-color: orange;">
          <p><b>1. Confirmation code was sent to email: <%= user.email %></b></p>
          <p>To continue, enter the confirmation code. The code is valid for 1 hour. If you do not enter the code, you will not be able to change the password.</p>
        </header>
  
        <!-- FORM 2 -->

        <form name="new-pass-form" action="/profile-password" method="POST">
  
          <!-- verification code -->
          <label for="code">1. Enter code:</label><br>
          <input type="text" id="code" name="code" class="registration-input" value="<%= 
            typeof inputs !== 'undefined' ? inputs.code : ''
          %>">
          <br><label for="code" id="code-error" style="color: red;">
            <%= typeof errors !== 'undefined' ? errors.code : '' %>
          </label>
          <br>

          <!-- User password input -->
          <label for="user-pass">2. Enter new password</label><br>
          <input type="text" id="user-pass" name="userPass" class="registration-input" value="<%= 
            typeof inputs !== 'undefined' ? inputs.newPass : ''
          %>">
          <br>
          <label for="user-pass" id="user-pass-error" style="color: red;">
            <%= typeof errors !== 'undefined' ? errors.newPass : '' %>
          </label>
          <section id="password-requirements">
            <strong><p>Create a password that:</p></strong>
            <ul id="requirements-list">
              <li id="password-length">contains at least 8 characters</li>
              <li id="password-letters">contains both lower (a-z) and upper case letters (A-Z)</li>
              <li id="password-symbols">contains at least one number (0-9) or underscore symbol</li>          
              <li id="password-alfa-num">does not contain non afpha numeric symbols</li>
            </ul>
          </section>
          <br>
      
          <!-- User password input -->  
          <label for="pass-conf">Confirm password</label><br>
          <input type="text" id="pass-conf" name="passConf" class="registration-input" value="<%= 
            typeof inputs !== 'undefined' ? inputs.newPassConf : ''
          %>">
          <br>
          <label for="pass-conf" id="pass-conf-error" style="color: red;">
            <%= typeof errors !== 'undefined' ? errors.newPassConf : '' %>
          </label>
          <br>

          <!-- password verification -->
          <label for="actual-user-pass">3. Confirm actual password:</label><br>
          <input type="text" id="actual-user-pass" name="actualUserPass" class="registration-input" value="<%= 
            typeof inputs !== 'undefined' ? inputs.userPass : ''
          %>">
          <br><label for="actual-user-pass" id="actual-user-pass-error" style="color: red;">
            <%= typeof errors !== 'undefined' ? errors.password : '' %>
          </label>
          <br>          
          
          <input type="submit" id="form-submit-btn" name="formSubmitBtn" value="Update email">

        </form>
          
      <% } %>
      
    <% } %> 

  </main>
  
<%- include('../includes/main-footer.ejs') %>