<%- include('../includes/main-head.ejs') %>

<!-- STYLES -->
<link rel="stylesheet" href="/styles/settings-delete.css">
<!-- SCRIPTS -->
<script src="/scripts/settings-delete-actions.js" defer></script>

  <main>

    <a href="/profile-settings" id="back-anchor">&#171; Account Management</a>

    <header>
      <h1>ACCOUNT DELETION</h1>
    </header>

    <div id="form">

      <p>After your account has been deleted, all your personal data will be deleted.</p>
      <p>If you are sure that you want to delete your profile follow below steps:</p>

      <div id="step-list">
        <div class="step">
          <div class="step-icon<%= isEmailSent === false ? ' img-active' : '' %>">
            <img src="/assets/settings-icons/dots.png" alt="">
          </div>
          <div class="step-content">
            <div class="step-text<%= isEmailSent === false ? ' text-active' : '' %>">1. Generate code</div>
            <div class="step-content-bottom"></div>
          </div>
        </div>
        <div class="step">
          <div class="step-icon<%= isEmailSent && isCodeCorrect === false ? ' img-active' : '' %>">
            <img src="/assets/settings-icons/pin.png" alt="">
          </div>
          <div class="step-content">
            <div class="step-text<%= isEmailSent && isCodeCorrect === false ? ' text-active' : '' %>">2. Confirm code</div>
            <div class="step-content-bottom"></div>
          </div>
        </div>
        <div class="step">
          <div class="step-icon<%= isCodeCorrect ? ' img-active' : '' %>">
            <img src="/assets/settings-icons/lock.png" alt="">
          </div>
          <div class="step-content">
            <div class="step-text<%= isCodeCorrect ? ' text-active' : '' %>">3. Confirm password</div>
            <div class="step-content-bottom"></div>
          </div>
        </div>
      </div>

      <% if (isEmailSent) { %>
      
        <!-- FORM 1 COMPLETE -->
  
        <header>
          <p><b>1. Confirmation code was sent to email: <%= hiddenEmail %></b></p>
        </header>
  
        <!-- FORM 2 -->
    
        <% if (isCodeCorrect) { %>
          
          <!-- FORM 2 COMPLETE -->
      
          <header>
            <p><b>2. Confirmation code was correct</b></p>
          </header>
  
          <!-- FORM 3 -->
          
          <form name="delete-form" action="/profile-delete" method="POST">
          
            <header>
              <p><b>3. Confirm password</b></p>
              <p>To delete account, please enter your account password.</p>
            </header>

            <div class="form-input">
              <input type="password" id="user-pass" name="userPass" class="registration-input" value="<%= 
                typeof inputs !== 'undefined' ? inputs : ''
              %>" placeholder="Password">
              <input type="button" class="show-hide-btn" id="pass-toggle" value="">
            </div>
            <!-- user code error message -->
            <p id="password-error" class="input-error<%= (typeof errors !== 'undefined' && errors.password) ? ' active' : '' %>"><%= 
              (typeof errors !== 'undefined' && errors.password) ? errors.password : '' 
            %></p>
          
            <input type="submit" id="delete-submit-btn" class="form-submit-btn" name="deleteSubmitBtn" value="Delete Account" >
          
          </form>
        
        <% } else { %>
    
          <form name="code-form" action="/profile-delete" method="POST">
    
            <header>
              <p><b>2. Confirm code</b></p>
              <p>To delete account, enter code received on yours personal email address. The code will be valid for 1 hour.</p>
            </header>
    
            <!-- user code input -->
            <input type="text" id="code" name="code" class="registration-input" value="<%= 
              typeof inputs !== 'undefined' ? inputs : ''
            %>" placeholder="Confirmation code">
            <!-- user code error message -->
            <p id="code-error" class="input-error<%= (typeof errors !== 'undefined' && errors.code) ? ' active' : '' %>"><%= 
              (typeof errors !== 'undefined' && errors.code) ? errors.code : '' 
            %></p>
    
            <input type="submit" id="code-submit-btn" class="form-submit-btn" name="codeSubmitBtn" value="Activate" >
    
          </form>
  
        <% } %>
  
      <% } else { %>
  
        <!-- FORM 1 -->
        
        <form name="email-form" action="/profile-delete" method="POST">
  
          <header>
            <p>To delete account, click Send email. The code will be sent to your email address.</p>
          </header>
  
          <input type="submit" id="email-submit-btn" class="form-submit-btn" name="emailSubmitBtn" value="Send email">
          
        </form>
  
      <% } %>

    </div>

  </main>
  
<%- include('../includes/main-footer.ejs') %>