<%- include('../includes/main-head.ejs') %>

<!-- STYLES -->
<link rel="stylesheet" href="/styles/settings-password.css">
<!-- SCRIPTS -->
<script src="/scripts/auth-registration-form.js" defer></script>
<script src="/scripts/settings-password-actions.js" defer></script>

  <main>

    <a href="/profile-settings" id="back-anchor">&#171; Account Management</a>

    <header>
      <h1>CHANGE PASSWORD</h1>
    </header>

    <div id="form">

      <% if (!isUpdateAvailable) { %>

        <p id="date-error" class="form-error"><%= 
          'Next update will be available ' + new Date(user.passwordUpdate * 1000 + 3600000 * 24 * 14).toLocaleDateString() + '.'
        %></p>
  
      <% } else { %>

        <p>To change the password, please follow below steps:</p>

        <div id="step-list">
          <div class="step">
            <div class="step-icon<%= isEmailSent === false ? ' img-active' : '' %>"><img src="/assets/settings-icons/dots.png" alt=""></div>
            <div class="step-content">
              <div class="step-text<%= isEmailSent === false ? ' text-active' : '' %>">1. Generate code</div>
              <div class="step-content-bottom"></div>
            </div>
          </div>
          <div class="step">
            <div class="step-icon<%= isEmailSent ? ' img-active' : '' %>"><img src="/assets/settings-icons/form.png" alt=""></div>
            <div class="step-content">
              <div class="step-text<%= isEmailSent ? ' text-active' : '' %>">2. New password</div>
              <div class="step-content-bottom"></div>
            </div>
          </div>
        </div>
  
        <% if (!isEmailSent) { %>
          
          <!-- FORM 1 -->
          
          <form name="email-form" action="/settings-password" method="POST">
            
            <header>
              <p>To change password, click Send email. The code will be sent to your email address.</p>
            </header>
            
            <input type="submit" id="email-submit-btn" class="form-submit-btn" name="emailSubmitBtn" value="Send email">
            
          </form>
  
        <% } else { %>
            
          <!-- FORM 1 COMPLETE -->
      
          <header >
            <p><b>Confirmation code was sent to email: <%= hiddenEmail %></b></p>
            <p>To continue, enter the confirmation code. The code is valid for 1 hour. If you do not enter the code, you will not be able to change the password.</p>
          </header>
    
          <!-- FORM 2 -->
  
          <form name="new-pass-form" action="/settings-password" method="POST">
    
            <!-- verification code -->
            <input type="text" id="code" name="code" class="registration-input" value="<%= 
              typeof inputs !== 'undefined' ? inputs.code : ''
            %>" placeholder="1. Enter code">
            <!-- verification code error message -->
            <p id="code-error" class="input-error<%= (typeof errors !== 'undefined' && errors.code) ? ' active' : ''%>"><%= 
              (typeof errors !== 'undefined' && errors.code) ? errors.code : '' 
            %></p>
  
            <!-- User password input -->
            <div class="form-input">
              <input type="password" id="user-pass" name="userPass" class="registration-input" value="<%= 
                typeof inputs !== 'undefined' ? inputs.newPass : ''
              %>" placeholder="2. Enter new password">
              <input type="button" class="show-hide-btn" id="new-pass-toggle" value="">
            </div>
            <!-- new password error message -->
            <p id="user-pass-error" class="input-error<%= (typeof errors !== 'undefined' && errors.newPass) ? ' active' : '' %>"><%= 
              (typeof errors !== 'undefined' && errors.newPass) ? errors.newPass : '' 
            %></p>
            <section id="user-pass-requirements" class="input-requirements">
              <strong><p>Create a password that:</p></strong>
              <ul id="user-pass-requirements-list">
                <li id="password-length">contains at least 8 characters</li>
                <li id="password-letters">contains both lower (a-z) and upper case letters (A-Z)</li>
                <li id="password-symbols">contains at least one number (0-9) or underscore symbol</li>          
                <li id="password-alfa-num">does not contain non afpha numeric symbols</li>
              </ul>
            </section>
        
            <!-- User password input -->  
            <div class="form-input">
              <input type="password" id="pass-conf" name="passConf" class="registration-input" value="<%= 
                typeof inputs !== 'undefined' ? inputs.newPassConf : ''
              %>" placeholder="3. Confirm new password">
              <input type="button" class="show-hide-btn" id="new-pass-conf-toggle" value="">
            </div>
            <!-- new password confirmation error message -->
            <p id="pass-conf-error" class="input-error<%= (typeof errors !== 'undefined' && errors.newPassConf) ? ' active' : '' %>"><%= 
              (typeof errors !== 'undefined' && errors.newPassConf) ? errors.newPassConf : '' 
            %></p>
  
            <!-- password verification -->
            <div class="form-input">
              <input type="password" id="actual-user-pass" name="actualUserPass" class="registration-input" value="<%= 
                typeof inputs !== 'undefined' ? inputs.userPass : ''
              %>" placeholder="4. Confirm actual password">
              <input type="button" class="show-hide-btn" id="actual-pass-toggle" value="">
            </div>
            <!-- actual password confirmation error message -->
            <p id="ctual-user-pass-error" class="input-error<%= (typeof errors !== 'undefined' && errors.password) ? ' active' : '' %>"><%= 
              (typeof errors !== 'undefined' && errors.password) ? errors.password : '' 
            %></p>      
            
            <input type="submit" id="form-submit-btn" class="form-submit-btn" name="formSubmitBtn" value="Update password">
  
          </form>
            
        <% } %>
        
      <% } %> 

    </div>

  </main>
  
<%- include('../includes/main-footer.ejs') %>