<%- include('../includes/main-head.ejs') %>

<!-- STYLES -->
<!-- <link rel="stylesheet" href="/styles/profile-settings.css"> -->
<!-- SCRIPTS -->
<script src="/scripts/auth-registration-form.js" defer></script>

  <main>

    <a href="/profile-settings"><- Account Management</a>

    <header>
      <h1>CHANGE USERNAME</h1>
    </header>

    <% if (!isUpdateAvailable) { %>

      <label for="username-form" id="form-error" style="color: red;"><%= %>You have wait 14 days before next user name updte.</label>

    <% } else { %>

      <form id="username-form" name="username-form" action="/profile-name" method="POST">
        
        <p>You can change your username displayed in the game and on playfab.pl websites. Username change is available once every 14 days.</p>       
        <!-- User name input -->
        <label for="user-name">1. Enter a new username:</label><br>
        <input type="text" id="user-name" name="userName" class="registration-input" value="<%= 
          typeof inputs !== 'undefined' ? inputs.userName : ''
        %>">
        <br><label for="user-name" id="user-name-error" style="color: red;">
          <%= typeof errors !== 'undefined' ? errors.userName : '' %>
        </label>
        <br>  
        <input type="submit" id="form-submit-btn" name="formSubmitBtn" value="Change" >
          
      </form>

    <% } %>

  </main>
  
<%- include('../includes/main-footer.ejs') %>