<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= html.title %></title>

  <!-- STYLES -->
  <link rel="stylesheet" href="/styles/main.css">

</head>
<body>
  <nav>
    <header>

      <% if (typeof isAuthenticated !== 'undefined' && isAuthenticated) { %>

        <img src="<%= user.avatar %>" alt="profile avatar" class="profile-avatar">
        
        <p><%= user.name %></p>

        <a href="/profile-settings"><button>Settings</button></a>

        <form action="/logout" method="POST">
          <button type="submit">Sign out</button>
        </form>

      <% } else { %>

        <a href="/"><button>Playfab</button></a>
        <a href="/login"><button>Sign in</button></a>
        <a href="/registration"><button>Sign up</button></a>
      
      <% } %>

    </header>

  </nav>

  <div class="flash-message">
    <% if (typeof flash !== 'undefined' && typeof flash.success !== 'undefined') { %>
      <div class="message-success"><%= flash.success %></div>
    <% } else if (typeof flash !== 'undefined' && typeof flash.error !== 'undefined') { %>
      <div class="message-error"><%= flash.error %></div>
    <% } %>
  </div>